@charset 'utf-8';

/* common */
body {
  background-color: #f2f2f2;
  color: #333;
  font-family: "Raleway";
}

a {
  text-decoration: none;
}

.headline {
  font-size: 24px;
  text-align: center;
}

.bolt-text {
  font-size: 20px;
}

.clear-fix:after {
  clear: both;
  display: block;
  content: "";
}

.cv-btn {
  background-color: #74cfae;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.cv-btn:hover {
  color: #333;
}

.theme-main {
  margin-top: 85px;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

/* header */
.theme-header {
  background-color: #fff;
  width: 100%;
  padding: 15px 0;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #eee;
  z-index: 10;
}

.contact-btn {
  padding: 14px 12px;
  color: #fff;
}

.contact-btn a {
  color: #fff;
}

.site-icon {
  font-size: 52px;
  float: left;
}

.nav-menu {
  float: right;
  display: block;
}

/* .theme-title */
.theme-title {
  padding: 250px 0;
}

.theme {
  font-size: 90px;
  color: #74cfae;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.theme-sub {
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
}

/* .theme-desc */
.theme-desc {
  background-color: #74cfae;
  padding-top: 50px;
  color: #fff;
  text-align: center;
  font-size: 0;
}

.img-box {
  float: left;
  width: 40%;
}

.desc-text {
  display: inline-block;
  float: right;
  width: 60%;

}

.desc-text .headline {
  margin-bottom: 35px;
}

/* .latest-work */
.latest-work {
  padding-top: 60px;
  padding-bottom: 70px;
}

.latest-work .headline {
  margin-bottom: 40px;
}


.lw-imgs a {
  display: inline-block;
  margin-left: 100px;
  opacity: 0.7;
  transition: opacity 0.3s;
  margin-bottom: 80px
}

.lw-imgs a:hover {
  opacity: 1;
}

.works {
  font-size: 0;
}

.lw-imgs a:nth-child(3n + 1) {
  margin-left: 0;
}

.email-me {
  margin-top: 10px;
}

.email-text {
  float: left;
  margin: 0 90px;
  width: 60%;
  text-align: center;
}

.mail-btn {
  display: inline-block;
  padding: 14px 20px;
  transition: color 0.3s;
}

.mail-btn:hover {
  color: #333;
}

/* .our-skills */
.our-skills {
  padding-top: 70px;
  padding-bottom: 100px;
  background-color: #4e4e4e;
  color: #fff;
  font-size: 0;
}

.our-skills figcaption {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.os-row {
  margin-top: 40px;
}

.param {
  width: 25%;
  text-align: center;
  display: inline-block;
}

/* sns */
.sns {
  padding: 200px 0;
  font-size: 0;
  text-align: center;
}

.sns-btn {
  width: 185px;
  padding: 25px 0;
  font-size: 40px;
  display: inline-block;
  cursor: pointer;
  color: #74cfae;
}

.sns-btn:hover {
  background-color: #fff;
}



/* footer */
.theme-footer {
  background-color: #74cfae;
  color: #fff;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 25px;
}

