@charset 'utf-8';

/* common */
body {
  background-color: #f2f2f2;
  color: #333;
  font-family: "Raleway";
}

a {
  text-decoration: none;
}

.headline {
  font-size: 24px;
  text-align: center;
}

.bolt-text {
  font-size: 20px;
}

.clear-fix:after {
  clear: both;
  display: block;
  content: "";
}

.cv-btn {
  background-color: #74cfae;
  color: #fff;
  border: none;
  font-size: 12px;
}

.cv-btn a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 14px 12px;
}

.cv-btn a:hover {
  color: #333;
}

.theme-main {
  margin-top: 85px;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

/* header */
.theme-header {
  background-color: #fff;
  width: 100%;
  padding: 15px 0;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #eee;
  z-index: 10;
}

.contact-btn {
  color: #fff;
}

.contact-btn a {
  color: #fff;
}

.site-icon {
  font-size: 52px;
  float: left;
}

.nav-menu {
  float: right;
  display: block;
}

.sp-menu {
  display: none;
}

/* theme-title */
.theme-title {
  padding: 250px 0;
}

.theme {
  font-size: 90px;
  color: #74cfae;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.theme-sub {
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
}

/* theme-desc */
.theme-desc {
  background-color: #74cfae;
  padding-top: 50px;
  color: #fff;
  text-align: center;
  font-size: 0;
}

.img-box {
  float: left;
  width: 40%;
}

.desc-text {
  display: inline-block;
  float: right;
  width: 60%;

}

.desc-text .headline {
  margin-bottom: 35px;
}

/* latest-work */
.latest-work {
  padding-top: 60px;
  padding-bottom: 70px;
}

.latest-work .headline {
  margin-bottom: 40px;
}


.lw-imgs a {
  display: inline-block;
  margin-left: 100px;
  opacity: 0.7;
  transition: opacity 0.3s;
  margin-top: 80px
}

.lw-imgs a:nth-child(-n+3) {
  margin-top: 0;
}

.lw-imgs a:hover {
  opacity: 1;
}

.works {
  font-size: 0;
}

.lw-imgs a:nth-child(3n + 1) {
  margin-left: 0;
}

.email-me {
  margin-top: 90px;
}

.email-text {
  float: left;
  margin: 0 90px;
  width: 60%;
  text-align: center;
}

.mail-btn {
  display: inline-block;
  padding: 14px 20px;
  transition: color 0.3s;
}

.mail-btn:hover {
  color: #333;
}

/* our-skills */
.our-skills {
  padding-top: 70px;
  padding-bottom: 100px;
  background-color: #4e4e4e;
  color: #fff;
  font-size: 0;
}

.our-skills figcaption {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.os-row {
  margin-top: 40px;
}

.param {
  width: 25%;
  text-align: center;
  display: inline-block;
}

/* sns */
.sns {
  padding: 200px 0;
  font-size: 0;
  text-align: center;
}

.sns-btn {
  width: 185px;
  padding: 25px 0;
  font-size: 40px;
  display: inline-block;
  color: #74cfae;
}

.sns-btn:hover {
  background-color: #fff;
}

/* footer */
.theme-footer {
  background-color: #74cfae;
  color: #fff;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 25px;
}


/* TAB */
@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }
  /* theme-desc */
  .theme-desc {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .img-box {
    margin: 0 auto;
    float: none;
  }

  .desc-text {
    float: none;
    margin-top: 20px;
  }

  /* latest-work */
  .lw-imgs a {
    display: block;
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  .lw-imgs a:nth-child(3n + 1) {
    margin: 0 auto;
  }

  .lw-imgs a:nth-child(3n) {
    margin-bottom: 80px;
  }

  .lw-imgs a:last-child {
    margin-bottom: 0;
  }

  .email-me {
    text-align: center;
  }


  .email-text {
    float: none;
    margin: 0 auto;
  }

  .mail-btn {
      margin-top: 40px;
   }

   /* our skills */
  .param {
    display: block;
    margin: 0 auto;
    margin-top: 88px;
  }

  .param:first-child {
    margin-top: 0;
  }
}

/* SP */
@media screen and (max-width: 766px) {
  /* header */

  .sp-hidden {
    display: none;
  }

  .sp-menu {
    display: block;
    width: 40px;
    height: 25px;
    border: 1px solid #ddd;
    position: relative;
    padding: 10px;
    border-radius: 4px;
  }

  .sp-menu span {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ddd;
    height: 3px;
    width: 60%;
    border-radius: 4px;
  }

  .sp-menu span:nth-child(1) {
    top: 30%;
  }

  .sp-menu span:nth-child(2) {
    top: 50%;
  }

  .sp-menu span:nth-child(3) {
    top: 70%;
  }

  .active {
    position: absolute;
    top: 101%;
    left: 0;
    width: 100%;
    border-top: 10px solid #fff;
    border-bottom: 20px solid #fff;
  }

  /* theme-title */
  .theme-title {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .theme {
    font-size: 80px;
  }

  .desc-text {
    width: 100%;
  }

  .img-box {
    width: 100%;
  }

  /* latest-work */
  .lw-img {
    width: 100%;
  }

  .email-text {
    width: 100%;
  }

  /* our-skills */
  .param {
    width: 100%;
  }


  /* sns */
  .sns {
    padding: 50px 15px;
  }

  .sns-btn {
    width: 100%;
  }

}
